<%- include("./partials/header.ejs") %>
<h2>Messages</h2>
<form method="POST" action="/new">
  <div>
    <label for="author">Name:</label>
    <input type="text" id="author" name="authorName" />
  </div>
  <div>
    <label for="message">Message:</label>
    <input type="text" id="message" name="messageText" />
  </div>
  <button>Submit</button>
</form>
<%- include("./partials/footer.ejs") %>
