<%- include("./partials/head.ejs") %>
<body>
  <div class="container">
    <main>
      <h2>Messages</h2>
      <form method="POST" action="/new">
        <div class="input-container">
          <label for="author">Name</label>
          <input
            minlength="1"
            required
            type="text"
            id="author"
            name="authorName"
          />
        </div>
        <div class="input-container">
          <label for="message">Message</label>
          <textarea
            rows="5"
            minlength="1"
            required
            id="message"
            name="messageText"
          ></textarea>
        </div>
        <button>Submit</button>
      </form>
    </main>
  </div>
</body>
