<%- include("./partials/head.ejs") %>
<body>
  <div class="container">
    <main>
      <h2>Message Details</h2>
      <section>
        <p><%= message.text %></p>
        <p><%= message.user %></p>
        <p><%= message.added %></p>
        <a class="link" href="/">Back to Main</a>
      </section>
    </main>
  </div>
</body>
